@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Fondo de pantalla obtenido de https://www.mshr.app/ */
@keyframes hero-gradient-animation{0%{--x-0:85%; --c-0:hsla(150.8823529411765,52%,83%,1); --s-start-0:9%; --s-end-0:55%; --y-0:80%; --x-1:60%; --y-1:24%; --c-1:hsla(219.99999999999997,100%,82%,1); --s-start-1:5%; --s-end-1:72%; --y-2:82%; --s-start-2:5%; --s-end-2:52%; --c-2:hsla(297.7941176470588,100%,65%,0.49); --x-2:13%; --x-3:24%; --s-start-3:13%; --s-end-3:68%; --y-3:7%; --c-3:hsla(182,72%,68%,1);}100%{--x-0:31%; --c-0:hsla(150.8823529411765,52%,83%,1); --s-start-0:9%; --s-end-0:55%; --y-0:94%; --x-1:2%; --y-1:25%; --c-1:hsla(220,82%,95%,1); --s-start-1:5%; --s-end-1:72%; --y-2:20%; --s-start-2:5%; --s-end-2:52%; --c-2:hsla(297.7941176470588,100%,65%,0.49); --x-2:98%; --x-3:95%; --s-start-3:13%; --s-end-3:68%; --y-3:92%; --c-3:hsla(182,72%,68%,1);}}@property --x-0{syntax:'<percentage>';inherits:false;initial-value:85%}@property --c-0{syntax:'<color>';inherits:false;initial-value:hsla(150.8823529411765,52%,83%,1)}@property --s-start-0{syntax:'<percentage>';inherits:false;initial-value:9%}@property --s-end-0{syntax:'<percentage>';inherits:false;initial-value:55%}@property --y-0{syntax:'<percentage>';inherits:false;initial-value:80%}@property --x-1{syntax:'<percentage>';inherits:false;initial-value:60%}@property --y-1{syntax:'<percentage>';inherits:false;initial-value:24%}@property --c-1{syntax:'<color>';inherits:false;initial-value:hsla(219.99999999999997,100%,82%,1)}@property --s-start-1{syntax:'<percentage>';inherits:false;initial-value:5%}@property --s-end-1{syntax:'<percentage>';inherits:false;initial-value:72%}@property --y-2{syntax:'<percentage>';inherits:false;initial-value:82%}@property --s-start-2{syntax:'<percentage>';inherits:false;initial-value:5%}@property --s-end-2{syntax:'<percentage>';inherits:false;initial-value:52%}@property --c-2{syntax:'<color>';inherits:false;initial-value:hsla(297.7941176470588,100%,65%,0.49)}@property --x-2{syntax:'<percentage>';inherits:false;initial-value:13%}@property --x-3{syntax:'<percentage>';inherits:false;initial-value:24%}@property --s-start-3{syntax:'<percentage>';inherits:false;initial-value:13%}@property --s-end-3{syntax:'<percentage>';inherits:false;initial-value:68%}@property --y-3{syntax:'<percentage>';inherits:false;initial-value:7%}@property --c-3{syntax:'<color>';inherits:false;initial-value:hsla(182,72%,68%,1)} body{--x-0:85%;--c-0:hsla(150.8823529411765,52%,83%,1);--y-0:80%;--x-1:60%;--y-1:24%;--c-1:hsla(219.99999999999997,100%,82%,1);--y-2:82%;--c-2:hsla(297.7941176470588,100%,65%,0.49);--x-2:13%;--x-3:24%;--y-3:7%;--c-3:hsla(182,72%,68%,1);;background-color:hsla(358.0000000000001,0%,100%,1);background-image:radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0),transparent var(--s-end-0)),radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1),transparent var(--s-end-1)),radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2),transparent var(--s-end-2)),radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3),transparent var(--s-end-3));animation:hero-gradient-animation 10s linear infinite alternate;background-blend-mode:normal,normal,normal,normal;}
